* {
  box-sizing: border-box;
}

.parallax {
  background-image: url("../img/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  color: $primary-font-color;
  background-color: black;
  line-height: 1.6em;
}

footer {
  a {
    text-decoration: none;
    &:hover {
      color: $accent-color;
    }
  }
  margin-top: 0;
  @extend .center;
  @extend .blur;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.75em;
  line-height: 1em;
  padding-bottom: 1em;
  @include mq {
    font-size: inherit;
  }
}

address {
  padding-top: 1em;
  margin-bottom: 0.5em;
  font-size: 3em;
  * {
    transition: 0.2s;
    color: rgb(255, 255, 255);
  }
  *:hover {
    transform: scale(1.2);
    filter: drop-shadow(2px 2px 2px rgba(8, 156, 156, 0.9));
  }
}

a {
  color: $primary-font-color;
}

main {
  display: flex;
  flex-direction: column;
}

.blur {
  background: rgba(59, 59, 59, 0.35);
  backdrop-filter: blur(5px);
}

article {
  @include mq {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  padding: 2em;
  text-align: justify;
  ul {
    list-style-type: none;
    padding-left: 0;
  }

  li::before {
    content: '\2014 \2002';
    font-size: 1.7em;
    color: $accent-color;
  }
}

#space {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  @include mq2 {
    justify-content: flex-end;
    align-items: center;
    padding-right: 1em;
  }
  @include mq {
    justify-content: flex-end;
    align-items: center;
    padding-right: 5em;
  }
  height: 70vh;
}

#about-us {
  @include mq2 {
    width: 40vw;
    margin-bottom: 2em;
  }
  @include mq {
    width: 35vw;
    margin-bottom: 5em;
    margin-top: 2em;
  }
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 0;
  h1 {
    line-height: 1em;
    @include mq {
      font-size: 3.5em;
    }
  }
}

#description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include mq {
    justify-content: center;
  }
  h1 {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: inherit;
  }
  article {
    @include mq {
      flex-basis: 45vw;
    }
  }
}

.center {
  align-self: center;
  flex-basis: auto;
  text-align: center;
}

.hide {
  display: none;
}