* {
  box-sizing: border-box;
}

.parallax {
  background-image: url("../img/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}