* {
  box-sizing: border-box;
}

.parallax {
  background-image: url("../img/background.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  color: $primary-font-color;
  background-color: black;
}

a {
  color: $primary-font-color;
}

.main {
  display: flex;
  flex-direction: column;
}

.blur {
  background: rgba(130, 130, 130, 0.35);
  backdrop-filter: blur(10px);
  //border-radius: 10px;
  //border: 1px solid rgba(255,255,255,0.2);

}

#space {
  display: flex;
  justify-content: flex-end;
  height: 70vh;
}

#about-us {
  width: 40vw;

}
