.header-main {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;

  img {
    width: 50%;
  }
}

.main-nav {
  color: $primary-font-color;

  li a {
    text-decoration: none;
    font-size: 1.3em;
    &:hover {
      color: $accent-color;
    }
  }

  ul {
    font-weight: $bold-font-weight;
    background-color: blue;
    list-style-type: none;
    position: absolute;
    right: 3em;
    top: 4em;
    z-index: 1;
    padding: 1em;
    width: auto;
  }
}

#hamburger {
  font-size: 3em;
  margin-top: 1em;
  cursor: pointer;
  margin-right: 1em;
}

.active {
  color: $second-accent-color;
}

@media only screen and (min-width: 39.5em) {
  .header-main {
    img {
      width: 40%;
    }
  }
}

@media only screen and (min-width: 70em) {
  .header-main {
    align-items: center;
    img {
      width: auto;
    }
  }

  .main-nav  {
    margin-right: 0;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    ul {
      background-color: transparent;
      display: flex !important;
      flex-direction: row;
      font-size: 1.2em;
      width: 100%;
      position: static;
      justify-content: space-evenly;
      margin-right: 0;
    }
  }

  #hamburger {
    display: none;
  }

  .active {
    padding-bottom: 1em;
    border-bottom: $second-accent-color solid 3px;
  }
}