.header-main {
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  width: 100%;

  img {
    width: 50%;
  }
}

/* Hamburger */
#nav-icon3 {
  color: white;
  width: 2.7em;
  height: 2em;
  position: relative;
  margin-top: 2.5em;
  margin-right: 2em;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 2;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: white;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: .7em;
}

#nav-icon3 span:nth-child(4) {
  top: 1.4em;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.main-nav {
  color: $primary-font-color;

  li a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    font-size: 3em;
    line-height: 1.5em;
    &:hover {
      color: $accent-color;
    }
  }

  ul {
    background-color: $background-nav-mobile-color;
    list-style-type: none;
    position: absolute;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 1;
    padding-top: 15em;
    overflow: hidden;
  }
}

.active {
  color: $accent-color;
}

@media only screen and (min-width: 39.8em) {
  .header-main {
    img {
      width: 30%;
    }
  }
}

@media only screen and (min-width: 70em) {
  .header-main {
    align-items: center;
    img {
      width: auto;
    }
  }

  .main-nav  {
    margin-right: 0;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    letter-spacing: 0.1em;
    ul {
      background-color: transparent;
      display: flex !important;
      flex-direction: row;
      width: 100%;
      position: static;
      justify-content: space-evenly;
      margin-right: 0;
      height: 100%;
      padding: 1em;
      padding-top: 0;

      li a {
        font-size: 1.8em;
        line-height: 3em;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        &:after {
          position: absolute;
          transition: .3s linear;
          content: '';
          width: 0;
          bottom: 0;
          top: 1.8em;
          height: 3px;
          background: $accent-color;
          left: 0;
        }

        &:hover {
          padding-bottom: .8em;
          &:after {
            width: 100%;
            left: 0;
          }
        }
      }
    }
  }

  #nav-icon3 {
    display: none;
  }

  .active {
    &:after {
      width: 100% !important;
      left: 0;
      position: absolute;
      content: '';
      bottom: 0;
      top: 1.8em;
      height: 3px;
      background: $accent-color;
    }
  }
}

footer {
  a {
    text-decoration: none;
    &:hover {
      color: $accent-color;
    }
  }
  margin-top: 0;
  @extend .center;
  @extend .blur;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.75em;
  line-height: 1em;
  padding-bottom: 1em;
  @include mq {
    font-size: inherit;
  }
}

address {
  padding-top: 1em;
  margin-bottom: 0.5em;
  font-size: 3em;
  * {
    transition: 0.2s;
    color: rgb(255, 255, 255);
  }
  *:hover {
    transform: scale(1.1);
    color: $accent-color;
  }
}

.info {
  font-size: 1.2em;
  display: block;
  width: 100%;
  z-index: 1;
  bottom: 0;
  margin: 0;
  padding: 1em;
  position: fixed;
  background-color: $accent-color;
}

.pagination {
  font-size: 1.2em;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  margin-top: .5em;
  a {
    text-align: center;
    display: block;
    padding: .5em;
    width: 2.5em; // fontsize + 2*padding
    line-height: 1.5em;
    height: 2.5em;
  }

  .current {
    color: $accent-color;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;

    -webkit-background-clip: padding-box;
    -moz-background-clip:    padding;
    background-clip:         padding-box;
  }

  @include mq {
    font-size: 1.5em;
  }
}