//=====================================
// Colors
//=====================================

$accent-color: #089c9c;
$primary-font-color: #ffff;
$second-accent-color: #6f368b;

//=====================================
// Fonts
//=====================================
$bold-font-weight: 700;