//=====================================
// Colors
//=====================================

$accent-color: #089c9c;
$primary-font-color: #ffff;
$second-accent-color: #6f368b;
$background-nav-mobile-color: #1b1716;

//=====================================
// Fonts
//=====================================
